@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);


ul {
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    border-radius: 50%;
    list-style: none;
}

a:hover {
    color: blue;
}
