@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
    background-color:azure;
}
ul {
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    color: gray;
    border-radius: 50%;
    background-color: lightblue;
    padding: 2px;
    list-style: none;
}

a:hover {
    color: blue;
}
