@import url(https://use.fontawesome.com/releases/v6.3.0/css/all.css);
body {
    background-color: #E9E9E9;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 55%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.welcome {
    background:linear-gradient(90deg, rgba(0,0,0,0.6615780101102942) 100%, rgba(0,0,0,0.7960317916228992) 100%), url(../image/cover.jpg);
    /* background-color: gray;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    margin: 20px;
    font-weight: bolder;
}
.heading {
    padding: 0px 20px;
    font-weight: 300;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px;
}


.registration {
    background-color: #FAFAFA;
    width: 50%;
    padding: 30px;
}

.inputgroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.inputgroup label {
    color: #CCD5E1;
    margin-bottom: 5px;

}
.inputgroup input {
    background-color: #FAFAFA;
    border: none;
    border-bottom: 1px solid #CCCCCC;
}

.button {
    text-transform: uppercase;
    background-color: #111111;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px 25px;
    margin: 10px;
}

.buttongroup a {
    color: #B29999;
}


