@media (max-width: 600px) {
    header nav {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header-title h1 {
        font-size: 36px;
    }

    .header-title p {
        font-size: 16px;
    }

    .header-title button {
        padding: 0.5em 0.7em;
        font-size: 14px;
        
    }

    h3 {
        font-size: 20px;
      }

    p {
        font-size: 14px;
    }

    .team-description ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
    }

    .choose-us {
        width: 70%;
        margin: auto;
    }
    
    .choose-us ul{
        flex-direction: column;
        justify-content: center;
    }

    .choose-us li h4 {
        font-size: 16px;
    }

    .choose-us li img {
        width: 6rem;
        height: 6rem;
    }

    .blog-news ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .blog-news .content{
        padding: 0 1.8rem;
    }
    .blog-news ul .item .avatar {
        width: 16rem;
      }
}