* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.viewport1 {
    background-color: aqua;
    
}
.viewport2 {
    background-color:chocolate;
}



section.card {
    height: 50vh;
    display: block;
   position: relative;
}

img {
    position: absolute; 
    width: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}