
body {
    display: grid;
    grid-column: 100px auto;
    gap: 10px;
    grid-template-areas: 
    "header header" "aside main" "footer footer";
    
}

header {
    grid-area: header;
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
    display: flex;
    align-content: space-around;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.navigation ul li {
    margin: 0px auto;
}


aside {
    grid-area: aside;
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
}
aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;

}
a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}



main {
    grid-area: main;
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
}

footer {
    grid-area: footer;
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
}

@media (max-width:500px) {
    header nav  ul{
        margin: 0px;
        padding: 0px;
    }

    header nav  ul li a{
        display: block;
        padding-left: 5px;
    }


    body {
        grid-template-areas: 
        "header header" 
        "aside aside"
        "main main" 
        "footer footer";
    }
}